.video_player_container{
    width: 60%;
}

.playlist_container{
    width: 40%;
    padding-left: 15px;
}

.progress-loader-container{
  width: 100%;
}

// #videContainerElement {
//   transform: scale(1, 1);
//   transition-timing-function: ease-in;
//   transition: 0.2s;
//
//   width: 60%;
// }

#clip_form_container{
    transform: scale(1, 0);

    transition-timing-function: ease-in;
    /* Quick on the way out */
    transition: 0.2s;

}

.video-container-hidden{
  // visibility: hidden;
  display: none;
}

.card-clip{
  margin-bottom: 5px;
  margin-top: 5px;
}
